<!DOCTYPE html>
<!-- The Time Machine GitHub pages theme was designed and developed by Jon Rohan, on Feb 7, 2012. -->
<!-- Follow him for fun. http://twitter.com/jonrohan. Tail his code on https://github.com/jonrohan -->
<html lang="{{ site.lang | default: "ja-JP" }}">
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex, nofollow, noarchive" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <!-- ローカルのcssを基本とするので順番はbootstrap、ローカルcssとする -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  
  
  <!-- Bootstrap5プルダウンメニューによりscriptの順番はjQuery、popper、その他のscriptとしなければならない -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

{% seo %}

</head>

<body>  
<header>
  <nav class="navbar navbar-expand-xl navbar-fixed-top" style="background-color: turquoise;">
    <div class="container-fluid">
      <a class="download-button zip" href="/"><span>Home</span></a>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">OSサポート表</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Contents/Support/WindowsLicense">Microsoft Windowsライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/Support/MicrosoftOs">Microsoft Windows</a></li>
	        <li><a class="dropdown-item" href="/Contents/Support/Windows10">Microsoft Windows 10</a></li>
	        <li><a class="dropdown-item" href="/Contents/Support/Windows11">Microsoft Windows 11</a></li>
	        <li><a class="dropdown-item" href="/Contents/Support/WindowsServer">Microsoft Windows Server</a></li>
	        <li><a class="dropdown-item" href="/Contents/Support/MacOs">Apple MacOS</a></li>
	        <li><a class="dropdown-item" href="/Contents/Support/RedHatEnterprise">Red Hat Enterprise Linux</a></li>
	        <li><a class="dropdown-item" href="/Contents/Support/CentOs">CentOS</a></li>
	        <li><a class="dropdown-item" href="/Contents/Support/MicrosoftOffice">Microsoft Office</a></li>
	        <li><div class="dropdown-divider"></div></li>
	        <li><a class="dropdown-item disabled" href="#">Disable</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">.NET</button>
        <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="/Contents/DotNet/DotNetVsLicense">Microsoft .NET、Visual Studioライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/DotNetSupport">Microsoft .NETリリース、サポート表</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/TimerSleep">タイマーとスリープ</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/MultiTask">並行、並列処理</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/ThreadAsync">スレッド、非同期</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/Reigai">例外処理</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/AggregationException">集約例外ハンドラー</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/Dispose">オブジェクトの破棄とメモリーの解放</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/Interface">インタフェース、抽象クラス</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/EntryPoint">エントリーポイントの作成</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/AspNetCoreApi">ASP.NET Core Web API</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/AspNetSsl">ASP.NET 自己署名証明書</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/CertStore">Windows証明書ストア</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/AspNetCoreAuth">ASP.NET Core Web API 認証</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/Sonota">.NETその他</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/DotNet/MsTest">単体テストツール(MsTest)</a></li>
	        <li><a class="dropdown-item" href="/Contents/DotNet/MoqTest">テストダブルツール(Moq)</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/DotNet/FromNewDesktop">新・デスクトップアプリ</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Java</button>
        <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="/Contents/Java/JdkLicense">Oracle JDK ライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/JdkSupport">Oracle JDKリリース、サポート表</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/AwtCrash">Swing、Awt関連での実行時クラッシュ</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/JdbcSqlSvr">JDBCでSQL Serverへ接続する注意点</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/LeaningCreate">JavaFx非対応でのOpenJFX環境構築</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/JavaSleepTimer">スリープ、タイマー</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/JavaFileRead">ファイル読み書き計測</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/AggregationException">集約例外ハンドラー</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/SslHttpsClient">HTTPS通信によるクライアント側設定</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/keytool">KeyToolでSSL証明書登録</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Java/JunitTest">単体テストツール(JUnit)</a></li>
	        <li><a class="dropdown-item" href="/Contents/Java/MockitoTest">テストダブルツール(Mockito)</a></li>
          <li><a class="dropdown-item" href="/Contents/Java/DbUnit"">データベーステストツール(DbUnit)</a></li>
          <li><a class="dropdown-item" href="/Contents/Java/Slf4jApi"">Slf4J-apiを使用する</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Tomcat/Tomcat9031over">Apache Tomcat 9.0.31以降のAJP接続</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Maven/MavenWebLeaning">MavenプロジェクトでServlet</a></li>
	        <li><a class="dropdown-item" href="/Contents/Maven/Maven2EclipseError">Eclipse Maven プラグインでSLF4Jの複数バインディング警告</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/SpringBoot/LeaningCreate">Spring Bootスタータープロジェクト</a></li>
	        <li><a class="dropdown-item" href="/Contents/SpringBoot/VersionCheck">内部バージョン確認</a></li>
	        <li><a class="dropdown-item" href="/Contents/SpringBoot/SpringBootHttps">HTTPS通信手順</a></li>
	        <li><a class="dropdown-item" href="/Contents/SpringBoot/SpringBootAuth">Spring Boot Securityによる認証</a></li>
	        <li><a class="dropdown-item" href="/Contents/SpringBoot/LiveData">Live data エラー</a></li>
        </ul>
      </div>
      
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-expanded="false">開発環境構築</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Contents/Ide/VisualStudio/VisualStudioSupport">Microsoft Visual Studioサポート表</a></li>
          <li><a class="dropdown-item" href="/Contents/Ide/VisualStudio/InstWin">Microsoft Visual Studioインストール</a></li>
          <li><a class="dropdown-item" href="/Contents/Ide/VisualStudio/VsFsharpInstall">F#とVisualStudioの開発環境</a></li>
	        <li><a class="dropdown-item" href="/Contents/Ide/VisualStudio/VsCppCliInstall">C++/CLIとVisualStudioの開発環境</a></li>
	        <li><a class="dropdown-item" href="/Contents/Ide/VisualStudio/VsPythonInstall">IronPythonとVisualStudioの開発環境</a></li>
	        <li><a class="dropdown-item" href="/Contents/Ide/VisualStudio/VsOther">Microsoft Visual Studio その他</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="/Contents/Ide/VisualStudioCode/InstWinVscode">Microsoft Visual Studio Codeインストール(Windows)</a></li>
          <li><a class="dropdown-item" href="/Contents/Ide/VisualStudioCode/InstUbuntuVscode">Microsoft Visual Studio Codeインストール(Ubuntu)</a></li>
          <li><a class="dropdown-item" href="/Contents/Ide/VisualStudioCode/Plugin">Microsoft Visual Studio Codeプラグイン</a></li>
          <div class="dropdown-divider"></div>
          <li><a class="dropdown-item" href="/Contents/Ide/Idea/InstWinIdea">JetBrains IntelliJ IDEAインストール(Windows)</a></li>
          <li><a class="dropdown-item" href="/Contents/Ide/Idea/InstUbuntuIdea">JetBrains IntelliJ IDEAインストール(Ubuntu)</a></li>
          <li><a class="dropdown-item" href="/Contents/Ide/Idea/Plugin">JetBrains IntelliJ IDEA日本語プラグイン</a></li>
          <li><a class="dropdown-item" href="/Contents/Ide/Idea/Setting">JetBrains IntelliJ IDEA各種設定</a></li>
          <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Eclipse/EclipseSupport">Eclipseリリース、サポート表</a></li>
	        <li><a class="dropdown-item" href="/Contents/Eclipse/ColorThemes">ColorThemes色の変更</a></li>
	        <li><a class="dropdown-item" href="/Contents/Eclipse/InstallOrigin">Enterprise Java環境構築(Windows)</a></li>
	        <li><a class="dropdown-item" href="/Contents/Eclipse/InstLinux">Enterprise Java環境構築(Linux)</a></li>
	        <li><a class="dropdown-item" href="/Contents/Eclipse/SvrTomcat">サーバーTomcatの設定追加</a></li>
	        <li><a class="dropdown-item" href="/Contents/Eclipse/EclipsePhp">PHP開発環境の構築</a></li>
	        <li><a class="dropdown-item" href="/Contents/Eclipse/Xdebug">PHPのデバッガーXdebug</a></li>
	        <li><a class="dropdown-item" href="/Contents/Eclipse/EclipsePhpError">PHPプロジェクトが作成ができなくなった</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">PHP</button>
        <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="/Contents/Php/XamppPhpSet">Xampp一括でPHPの環境構築</a></li>
	        <li><a class="dropdown-item" href="/Contents/Php/PhpWinSet">Apache + PHP個別でPHPの環境構築</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ruby</button>
        <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="/Contents/Ruby/InstWin">Rubyインストール手順(Windows)</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">データベース</button>
        <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="/Contents/Access/MicrosoftAccessLicense">Microsoft Accessライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/Access/MicrosoftAccessOther">Microsoft Accessその他</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/SqlServer/SqlServerLicense">Microsoft SQL Serverライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/SqlServer/SqlServerSupport">Microsoft SQL Serverリリース、サポート表</a></li>
	        <li><a class="dropdown-item" href="/Contents/SqlServer/SsmsOverview">Microsoft SQL Server Management Studio概要</a></li>
	        <li><a class="dropdown-item" href="/Contents/SqlServer/SsmsSupport">Microsoft SQL Server Management Studioサポート表</a></li>
	        <li><a class="dropdown-item" href="/Contents/SqlServer/SqlServerDriverSupport">Microsoft SQL Server Driverサポート表</a></li>
          <li><a class="dropdown-item" href="/Contents/SqlServer/InstWin">Microsoft SQL Serverインストール</a></li>
          <li><a class="dropdown-item" href="/Contents/SqlServer/Ssms/InstWin">Microsoft SQL ServerManagement Studioインストール</a></li>
	        <li><a class="dropdown-item" href="/Contents/SqlServer/memo">Microsoft SQL Server注意点</a></li>
	        <li><a class="dropdown-item" href="/Contents/SqlServer/sqlcmd">sqlcmd</a>
	        <li><a class="dropdown-item" href="/Contents/SqlServer/RemoteConnect">Microsoft SQLServerリモート接続</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Oracle/OracleDbLicense">Oracle Databaseライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/Oracle/OracleDbSupport">Oracle Databaseリリース、サポート表</a></li>
          <li><a class="dropdown-item" href="/Contents/Oracle/InstWin">Oracle Databaseインストール</a></li>
          <li><a class="dropdown-item" href="/Contents/Oracle/SqlDeveloper/InstWin">Oracle SQL Developerインストール</a></li>
	        <li><a class="dropdown-item" href="/Contents/Oracle/sqlplus">sql * plus</a></li>
	        <li><a class="dropdown-item" href="/Contents/Oracle/memo">Oracle Database注意点</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/PostgreSql/PostgreSqlLicense">PostgreSQL、pgAdminライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/PostgreSql/PostgreSqlSupport">PostgreSQLリリース、サポート表</a></li>
	        <li><a class="dropdown-item" href="/Contents/PostgreSql/PgAdminSupport">PgAdimnリリース、サポート表</a></li>
          <li><a class="dropdown-item" href="/Contents/PostgreSql/InstUbuntuPostgres">PostgreSQLインストール(Ubuntu)</a></li>
          <li><a class="dropdown-item" href="/Contents/PostgreSql/InstUbuntuPgadmin">pgAdimnインストール(Ubuntu)</a></li>
	        <li><a class="dropdown-item" href="/Contents/PostgreSql/PgAdmin4.28Loading">pgAdmin v4.28でブラウザが起動しいないLoading</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">スマートフォン</button>
        <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="/Contents/Google/AndroidSupport">Google Android リリース、サポート表</a></li>
	        <li><a class="dropdown-item" href="/Contents/AndroidStudio/InstWin">Android Studioのセットアップ</a></li>
	        <li><a class="dropdown-item" href="/Contents/AndroidStudio/NewProject">Android Studioの新規プロジェクト</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Linux</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Contents/Redhat/RedhatCom">RedHat系コマンド・全般</a></li>
	        <li><a class="dropdown-item" href="/Contents/Redhat/RedhatPkgUp">RedHat系パッケージ更新</a></li>
          <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/CentOs/CentosInstall">CentOSのインストール</a></li>
	        <li><a class="dropdown-item" href="/Contents/CentOs/Settings">CentOS設定</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Ubuntu/UbuntuInstall">Ubuntuのインストール</a></li>
	        <li><a class="dropdown-item" href="/Contents/Ubuntu/UbuntuCmd">Ubuntuコマンド</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">仮想化</button>
        <ul class="dropdown-menu">
	        <li><a class="dropdown-item" href="/Contents/VirtualMachine/VirtualBox/VboxInstallWin">VirtualBox(Windows版)のインストール</a></li>
	        <li><a class="dropdown-item" href="/Contents/VirtualMachine/VirtualBox/VboxInstallMac">VirtualBox(MacOS版)のインストール</a></li>
	        <li><a class="dropdown-item" href="/Contents/VirtualMachine/VirtualBox/GaCentOs">VirtualBox VBoxGuestAdditions(CentOS版)</a></li>
	        <li><a class="dropdown-item" href="/Contents/VirtualMachine/VirtualBox/GaUbuntu">VirtualBox VBoxGuestAdditions(Ubuntu版)</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Git</button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="/Contents/GitGitHub/InstUbuntuGit">Gitインストール(Ubuntu)</a></li>
	        <li><a class="dropdown-item" href="/Contents/GitGitHub/GitGitHub">Git、GitHub設定</a></li>
	        <li><a class="dropdown-item" href="/Contents/GitGitHub/fetchandmerge">他者の変更点取得</a></li>
	        <li><a class="dropdown-item" href="/Contents/GitHubPages/GitHubPages">GitHub Pages</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">クラウド</button>
        <ul class="dropdown-menu dropdown-menu-end">
	        <li><a class="dropdown-item" href="/Contents/Heroku/HerokuAppCreate">Herokuでのアプリ作成からデプロイ</a></li>
	        <li><a class="dropdown-item" href="/Contents/Heroku/HerokuPostgres">HerokuでのPostgreSQL</a></li>
	        <li><a class="dropdown-item" href="/Contents/Heroku/HerokuCmd">Herokuコマンド</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">OSS</button>
        <ul class="dropdown-menu dropdown-menu-end">
	        <li><a class="dropdown-item" href="/Contents/Oss/OssLicense">ライセンス全般</a></li>
	        <li><a class="dropdown-item" href="/Contents/Oss/OsdLicense">オープンソースの定義</a></li>
	        <li><a class="dropdown-item" href="/Contents/Oss/MitLicense">MITライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/Oss/ApacheLicense2">Apache v2.0ライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/Oss/Edl1License">EDL v1.0ライセンス</a></li>
	        <li><a class="dropdown-item" href="/Contents/Oss/Epl1License">EPL v1.0ライセンス</a></li>
        </ul>
      </div>

      <div class="btn-group">
        <button type="button" class="btn btn-secondary dropdown-toggle-split" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">その他</button>
        <ul class="dropdown-menu dropdown-menu-end">
	        <li><a class="dropdown-item" href="/Contents/PathSetting/PathSettingWin">Path設定、環境変数設定(Windows)</a></li>
	        <li><a class="dropdown-item" href="/Contents/PathSetting/PathSettingMac">Path設定、環境変数設定(Mac)</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/SublimeText3/PackageControl">Sublime Text3プラグイン</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Security/SslTls">SSL(Secure Sockets Layer)の証明書</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Electronic/MicrochipRelease">Microchip開発環境リリース表</a></li>
	        <li><a class="dropdown-item" href="/Contents/Electronic/Sekibun">積分回路について</a></li>
	        <li><a class="dropdown-item" href="/Contents/Electronic/PicTimer1">PICマイコン／タイマー１</a></li>
	        <div class="dropdown-divider"></div>
	        <li><a class="dropdown-item" href="/Contents/Sonota/ReadMiss">読み方一覧</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <h1 class="title">{{ page.title | default: site.github.repository_name }}</h1> -->
</header>

<div id="container2">
      <p class="tagline">{{ page.title | default: site.github.repository_name }}</p>
</div>
  <div class="wrapper">
    
      <div id="main" role="main">
	作成日付：{{ page.date }}、更新日付：{{ page.lastmod }}
        <div class="download-bar">
        <div class="inner">
	  {{ page.description | default: site.github.project_tagline }}
	  <!-- <a href="/" class="download-button zip"><span>Home</span></a>
          {% if site.show_downloads %}
          <a href="{{ site.github.tar_url }}" class="download-button tar"><span>Download</span></a>
          <a href="{{ site.github.zip_url }}" class="download-button zip"><span>Download</span></a>
          {% endif %}
          <a href="{{ site.github.repository_url }}" class="code">View {{ site.title | default: site.github.repository_name }} on GitHub</a> -->
        </div>
        <span class="blc"></span><span class="trc"></span>
        </div>
        <article class="markdown-body">
          {{ content }}
          <a class="download-button zip" href="/"><span>Home</span></a>
        </article>
      </div>
    
  </div>

<footer class="footer mt-auto py-3" style="background-color: turquoise;">                     
  <div class="owner">
    {% if site.github.is_project_page %}
      <p><a href="{{ site.github.owner_url }}" class="avatar"><img src="{{ site.github.owner_gravatar_url }}" width="48" height="48"></a> <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> maintains <a href="{{ site.github.repository_url }}">{{ site.title | default: site.github.repository_name }}</a></p>
    {% endif %}

    {% if site.github.is_user_page %}
      <p><a href="{{ site.github.owner_url }}" class="avatar"><img src="{{ site.github.owner_gravatar_url }}" width="48" height="48"></a>View <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a> on <a href="https://www.github.com">GitHub</a></p>
    {% endif %}
  </div>
  <div class="creds">
    <small>2019-2026 - マークダウン・メモ</small><br />
    <small>This page generated using <a href="https://pages.github.com/">GitHub Pages</a></small><br />
  </div>
</footer>

  <div class="current-section">
    <a href="#top">Scroll to top</a>
    <a href="{{ site.github.tar_url }}" class="tar">tar</a><a href="{{ site.github.zip_url }}" class="zip">zip</a><a href="" class="code">source code</a>
    <p class="name"></p>
  </div>

  {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
  {% endif %}
</body>
</html>
